{% from 'spekulatio-theme/helpers/icon.html' import icon %}
<header class="spkt">
    <nav id="site-name">
        <a href="/">{% if site.logo %}<img class="logo" src="{{ site.logo }}" alt="{{ site.name }}">{% endif %} {{ site.name }}</a>
    </nav>

    {# main menu (shown in desktop) #}
    <nav id="main-menu-desktop">
        {% for child in _node.root.children %}
            <a {{ 'class=active' if _node.is_descendant_of(child) }} href="{{ child.url }}">
                {% if 'icon' in child.data %}
                    {{ icon(child.data.icon, child.data.icon_class or '') }}
                {% endif %}
                {{ child.data['_title'] }}
            </a>
        {% endfor %}
    </nav>

    {# hamburger menu (shown in mobile) #}
    <nav class="main-menu-mobile">
        <a href="javascript:;" onclick="toggleVisibility('primary-navigation-mobile')" aria-label="Menu" >
            <svg class="menu-icon"><use xlink:href="/static/icons/feather-sprite.svg#menu"/></svg>
        </a>
    </nav>
</header>
