{% from 'spekulatio-theme/helpers/icon.html' import icon %}

<nav id="primary-navigation-mobile" aria-labelledby="primary-navigation" class="initially-hidden">
    <ul class="menu-first-level">
        {% for child in _node.root.children %}
        <li>
            {% with active_branch = _node.is_descendant_of(child) %}

                {# first level #}
                <a {{ 'class=active' if active_branch }} href="{{ child.url }}">
                    {% if 'icon' in child.data %}
                        {{ icon(child.data.icon, child.data.icon_class or '') }}
                    {% endif %}
                    {{ child.data.mobile_title or child.data._title }}
                </a>

                {# second level #}
                {% with grandchildren = child.children %}
                {% if active_branch and grandchildren %}
                <ul class="menu-second-level">
                    {% for grandchild in grandchildren %}
                    <li>
                        <a href="{{ grandchild.url }}">{{ grandchild.title }}</a>

                        {# third level #}
                        {% with grandgrandchildren = grandchild.children %}
                        {% if grandgrandchildren %}
                        <ul class="menu-third-level">
                            {% for grandgrandchild in grandgrandchildren %}
                            <li>
                                <a href="{{ grandgrandchild.url }}">{{ grandgrandchild.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}

                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</nav>

