// Spekulatio Theme Colors

// page background
$background-color: #FFFFFF;

// surface boxes such as <code> blocks or <footer>
$surface-color: darken($background-color, 5%);

// normal text
$text-color: #333333;

// alternative text color (eg. main menu items)
$text-color-companion-shade: lighten($text-color, 20%);

// primary accent color (eg. links)
$primary-color: #CE2D2D;

// companion shade for the primary accent color (eg. main menu item hover)
$primary-color-companion-shade: lighten($primary-color, 10%);

// secondary accent color (eg. inline code text)
$secondary-color: #387077;

// companion shade for the secondary accent color (eg. background of inline code)
$secondary-color-companion-shade: lighten($secondary-color, 57%);

