
@import 'colors';

// Tags
///////

html
{
    background: $background-color;
    color: $text-color;
    font: 16px/1.4 'Lato', Helvetica, Arial, sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a
{
    color: $primary-color;
    text-decoration: none;

    &:hover
    {
        text-decoration: underline;
    }
}

p
{
    margin: 1.2rem 0;
}

code
{
    font: 0.8rem monospace;
    color: $secondary-color;
    white-space: nowrap;
    border-radius: 3px;
    background-color: $secondary-color-companion-shade;
    padding: 2px 4px;
}

pre code
{
    display: block;
    font: 0.9rem monospace;
    margin: 1.2rem 0;
    padding: 1.2rem;
    border-radius: 2px;
    color: $secondary-color;
    background-color: $surface-color;
    overflow: auto;
    white-space: pre;
}

ul
{
    padding-inline-start: 20px;
    margin: 1.2vh 0;

    li
    {
        margin-bottom: 1.2vh;

        p
        {
            margin: 1.2vh 0;
        }
    }
}

blockquote
{
    margin: 0;
    border-left: 5px solid $surface-color;
    padding-left: 1vw;
}

dl
{
    margin: 1.2rem 0;

    dt
    {
        font-weight: bold;
    }

    dd
    {
        p
        {
            margin: 0.4rem 0;
        }

        margin: 0.2rem 0 0.8rem 1.2rem;
    }
}

h2, h3, h4
{
    margin-top: 1.5em;
}

table
{
    border-collapse: collapse;
    font-size: 0.9em;
}

th
{
    background-color: #F2F2F2;
}

td, th
{
    border: 1px solid #DDDDDD;
    padding: 0.5em;
    text-align: left;
}

// Utility classes
//////////////////

@mixin block-image
{
    display: block;
    margin: 2.4rem auto;
    border-radius: 3px;
}

img.large
{
    @include block-image
    width: 100%;
}

img.mid
{
    @include block-image
    max-width: 80%;
}

img.small
{
    @include block-image
    max-width: 60%;
}

img.very-small
{
    @include block-image
    max-width: 10%;
}

.shadow
{
    box-shadow: 2px 2px 8px 1px #00000044;
}

.icon
{
    width: 1rem;
    height: 1rem;
    stroke: currentColor;
    stroke-width: 2;
    fill: none;
    vertical-align: text-bottom;
}

.icon-filled
{
    width: 1rem;
    height: 1rem;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: text-bottom;
}

.note
{
    margin: 1.2rem 0;
    padding: 1.2rem;
    background-color: $surface-color;
    border-radius: 5px;
    font-size: 0.95rem;

    p.admonition-title
    {
        font-weight: bold;
    }

    p:first-child
    {
        margin-top: 0;
    }

    p:last-child
    {
        margin-bottom: 0;
    }

    pre code
    {
        background-color: inherit;
        margin: 0;
        padding: 0 1.2rem;
    }
}

.show-in-mobile
{
    @media (max-width: 700px)
    {
        display: block !important;
    }
}

.initially-hidden
{
    display: none;
}

// Layout
/////////

header.spkt
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 4vh 4vw;

    a
    {
        text-decoration: none;
    }

    nav#site-name
    {
        a
        {
            font-size: 1.5rem;
            font-weight: bold;

            &:hover
            {
                text-decoration: none;
            }

            img
            {
                height: 2rem;
                margin-right: 0.3rem;
                vertical-align: bottom;
            }
        }
    }

    nav#main-menu-desktop
    {
        @media (max-width: 700px)
        {
            display: none;
        }

        a
        {

            margin-left: 1.5vw;
            color: $text-color-companion-shade;

            &:hover
            {
                color: $primary-color-companion-shade;
                text-decoration: none;
            }

            &.active
            {
                color: $primary-color;
                font-weight: bold;
            }
        }
    }

    nav.main-menu-mobile
    {
        @media (min-width: 701px)
        {
            display: none;
        }

        svg.menu-icon
        {
            color: $primary-color;
            width: 30px;
            height: 30px;
            stroke: currentColor;
            stroke-width: 3;
            fill: none;
            margin: 3px;
            vertical-align: middle;
        }
    }
}

#secondary-navigation
{
    $active-link-marker: 2px;
    $active-link-indent: 10px;

    ul
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: $text-color-companion-shade;
        font-size: 1rem;

        li
        {
            margin-bottom: 1.6em;

            &.compact
            {
                margin-bottom: 0.7em;
            }

            .menu-header
            {
                font-size: 1rem;
                margin: 0 0 0.4em 0;
            }

            span
            {
                font-weight: bold;
            }

            a
            {
                color: $primary-color;
                border-left: $active-link-marker solid transparent;

                &.active
                {
                    font-weight: bold;
                }
            }

            ul
            {

                li
                {
                    margin-bottom: 0.4em;
                }

                a
                {
                    color: $secondary-color;
                    font-size: 0.9rem;
                    padding-left: $active-link-indent;

                    &.active
                    {
                        border-left: $active-link-marker solid $secondary-color;
                    }
                }
            }
        }
    }
}

nav#primary-navigation-mobile
{
    color: $primary-color;
    background-color: $surface-color;
    padding: 2vw 0;
    margin-bottom: 1vh;

    a
    {
        text-decoration: none;
        &.active
        {
            font-weight: bold;
        }
    }


    ul
    {
        margin: 0;
        padding: 0 0 0 2vw;
        list-style-type: none;

        li
        {
            margin: 1.5vh 2vw;
        }

        &.menu-second-level
        {
            a
            {
                color: $text-color-companion-shade;
            }
        }

        &.menu-third-level
        {
            list-style-type: disc;
        }
    }
}

main.spkt
{
    flex-grow: 1;
    padding: 0 4vw 8vh 4vw;
}

main.one-col
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr minmax(0, 1fr) 1fr;
    grid-template-areas: ". article .";

    @media (max-width: 1900px)
    {
        grid-template-columns: 1fr minmax(0, 3fr) 1fr;
    }

    @media (max-width: 850px)
    {
        grid-template-columns: 1fr minmax(0, 8fr) 1fr;
    }

    @media (max-width: 700px)
    {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "article";
    }

    article.spkt
    {
        grid-area: article;

        // separate article content from the prev/next links
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
    }
}

main.one-col-wide
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr minmax(0, 8fr) 1fr;
    grid-template-areas: ". article .";

    @media (max-width: 850px)
    {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "article";
    }

    article.spkt
    {
        grid-area: article;
    }
}

main.two-cols
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr minmax(0, 8fr) minmax(0, 2fr) 2fr;
    grid-template-areas: ". article aside .";

    @media (max-width: 1900px)
    {
        grid-template-columns: 2fr minmax(0, 9fr) minmax(0, 4fr);
    }

    @media (max-width: 850px)
    {
        grid-template-columns: minmax(0, 8fr) minmax(0, 2fr);
        grid-template-areas: "article aside";
    }

    @media (max-width: 700px)
    {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "article";
    }

    article.spkt
    {
        grid-area: article;

        // make pre boxes to display a horizontal scrollbar
        min-width: 0;

        // separate article content from the prev/next links
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    aside.spkt
    {
        grid-area: aside;

        @media (max-width: 700px)
        {
            display: none;
        }
        background-color: $background-color;

        nav
        {
            padding: 2rem 0 0 5vw;
        }
    }
}

#prev-next-links
{
    font-size: 0.9rem;
    color: $text-color-companion-shade;
    margin-top: 3vw;
    padding: 0.5vw 1.5vw;
    background-color: $surface-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    a
    {
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }
}

footer.spkt
{
    margin-top: auto;
    padding: 2vw 2vh;
    font-size: 0.8rem;
    background-color: $surface-color;
    text-align: center;
}
